<button mat-icon-button
        mat-dialog-close
        class="close-button"
        tabindex="-1">
  <mat-icon class="close-icon">close</mat-icon>
</button>
<h3 mat-dialog-title>{{title}}</h3>

<form [formGroup]="taskForm">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <textarea formControlName="title" matInput type="text"
                placeholder=" e.g. Pick up laundry at 9"
                aria-label="title"></textarea>
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="addTask()"
            *ngIf="data.crudType === crud.CREATE">
      Add Task
    </button>
    <button mat-raised-button color="primary" (click)="editTask()"
            *ngIf="data.crudType === crud.UPDATE">
      Add Task
    </button>

  </mat-dialog-actions>
</form>
