<div class="alert alert-danger" [hidden]="!error">
  There was a problem logging in. Please try again.
</div>
<form [formGroup]="credentials" role="form" (submit)="login()" class="d-flex flex-column">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <mat-icon matPrefix>user</mat-icon>
    <input matInput type="text" aria-label="username" formControlName="username"/>
  </mat-form-field>
  <mat-form-field>
    <mat-icon matPrefix>password</mat-icon>
    <mat-label>Password</mat-label>
    <input matInput type="password" aria-label="password" formControlName="password"/>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
