<div class="container">
  <h1>TITLE OF TODO LIST</h1>

  <h3>ACTIONS AND ADD NEW TODO</h3>

  <h4>todo list</h4>

  <ul>
    <li *ngFor="let t of todoListItems">
      <a [routerLink]="['./', t.id]">{{t.title}}</a>

      <span>{{t.notes}}</span>
    </li>
  </ul>

  <mat-nav-list>
    <a mat-list-item *ngFor="let t of todoListItems" [routerLink]="['./', t.id]">
      <div matListIcon (click)="$event.stopPropagation()">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="t.completed = !t.completed"
                      [checked]="t.completed"></mat-checkbox>
      </div>


      <h3 matLine [routerLink]="['./', t.id]">{{t.title}}</h3>
      <p matLine>
        <span>{{t.notes}}</span>
      </p>
    </a>
  </mat-nav-list>
</div>
