<app-top-nav></app-top-nav>


<mat-sidenav-container class="all-wrap"
                       [hasBackdrop]="!(isLargeScreen$ | async)"
                       (backdropClick)="isSideNavOpen$.next(false)">
  <mat-sidenav fixedInViewport
               fixedTopGap="64"
               [opened]="(isLargeScreen$ | async) || (isSideNavOpen$ | async)"
               [mode]="(isLargeScreen$ | async) ? 'side' : 'over'">
    <app-side-nav></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content class="page-wrap">

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
