<ng-template #error>
  <div *ngIf="errorFetchingCompanyData$ | async" class="alert alert-danger">
    Error fetching company data. Please try again later.
  </div>
</ng-template>

<div *ngIf="companyData$ | async as data; else error">
  <header>
    <h1>{{data.overview.Name}} {{data.overview.Symbol}}</h1>
    <p>{{data.overview.Exchange}} - Currency in {{data.overview.Currency}}</p>
  </header>

  <section class="quote-info d-flex">
    <span>{{data.globalQuote.price | currency}}</span>
    <span>{{data.globalQuote.change | currency}} {{data.globalQuote.changePercent}}</span>
  </section>

  <table>
    <tbody>
    <tr>
      <td>Market Cap</td>
      <td>{{data.overview.MarketCapitalization}}</td>
    </tr>

    <tr>
      <td>Beta</td>
      <td>{{data.overview.Beta}}</td>
    </tr>

    <tr>
      <td>PE Ratio</td>
      <td>{{data.overview.PERatio}}</td>
    </tr>

    <tr>
      <td>EPS</td>
      <td>{{data.overview.EPS}}</td>
    </tr>

    <tr>
      <td>Earnings Date</td>
      <td>?????</td>
    </tr>

    <tr>
      <td>Ex-Dividend Date</td>
      <td>{{data.overview.ExDividendDate}}</td>
    </tr>

    <tr>
      <td>1yr Target Est</td>
      <td>{{data.overview.AnalystTargetPrice}}</td>
    </tr>
    </tbody>
  </table>
</div>


