<div class="container">
  <mat-form-field class="example-full-width" style="width: 300px">
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">
      <mat-option *ngIf="myControl.value?.length <= 2" readonly>
        Please enter 3 or more characters
      </mat-option>
      <mat-option *ngFor="let option of filteredOption$ | async" [value]="option['1. symbol']">
        {{option["2. name"]}} ({{option["1. symbol"]}})
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-divider></mat-divider>

  <div *ngIf="companyOverviewData$ | async as data; else loadingOrError.template">
    <h1>{{data.Name}} {{data.Symbol}}</h1>
    <p>{{data.Exchange}} - Currency in {{data.Currency}}</p>
  </div>

  <app-loading-or-error #loadingOrError
                        [errorLoading$]="errorFetchingCompanyOverviewData$"
                        errorMessage="Error fetching company data. Please try again later"
  ></app-loading-or-error>

</div>
