<div class="container mt-3">
  <div class="d-flex mb-3">
    <h1>Task Page</h1>

    <div class="ml-5">
      <button (click)="openTaskDialog()"
              mat-flat-button color="primary">
        <mat-icon>add</mat-icon>
        <span>Add Task</span>
      </button>
    </div>
  </div>

  <ul cdkDropList (cdkDropListDropped)="drop($event)">
    <li cdkDrag *ngFor="let item of taskDTO; let i = index">
      <app-task-list-item [task]="item">
        <button mat-icon-button cdkDragHandle>
          <mat-icon>drag_indicator</mat-icon>
        </button>
      </app-task-list-item>
    </li>
    <li>
      <button mat-button color="primary"
              [hidden]="showTaskForm"
              (click)="showTaskForm = true">
        <mat-icon>add</mat-icon>
        <span>Add Task</span>
      </button>

      <ng-container *ngIf="showTaskForm">
        <app-add-task-quick
          (addTask)="onAddTask($event)"
          (cancel)="showTaskForm = false"></app-add-task-quick>
      </ng-container>
    </li>
  </ul>
</div>
