<div class="container mt-3">
  <h1>Task Page</h1>
  <button (click)="addTask()"
          class="mb-3"
          mat-flat-button color="primary">
    <mat-icon>add</mat-icon>
    <span>Add Task</span>
  </button>

  <ul cdkDropList (cdkDropListDropped)="drop($event)">
    <li cdkDrag *ngFor="let item of taskDTO; let i = index">
      <app-task-list-item [task]="item">
        <button mat-icon-button cdkDragHandle>
          <mat-icon>drag_indicator</mat-icon>
        </button>
      </app-task-list-item>
    </li>
  </ul>
</div>
