@import '~@angular/material/theming';
@import "../functions/bootstrap-properties";

$theme: mat-light-theme((
  color: (
    primary: mat-palette($mat-indigo),
    accent: mat-palette($mat-pink, A200, A100, A400),
    warn: mat-palette($mat-red)
  )
));

//////////////////// BOOTSTRAP VARIABLES /////////////////
$font-family-sans-serif: 'Cabin', sans-serif;
$body-bg: bodyBg($theme);
$body-color: bodyColor($theme);
$theme-colors: themeColors($theme);
